<%- include("partials/header") %>


<center>
    <img id="mars-img" src="images/mars-img.png" alt="">
</center>
<div id="mars-text">
    <p>The minimum temperature in mars is: <%= minTemp %></p>
    <p>The maximum temperature in mars is: <%= maxTemp %></p>
    <p>The pressure in mars is like: <%= howIsPressure %></p>
    <p>The weather description is like: <%= marsWeDesc %></p>
    <p>The sunrise time in mars is: <%= marsSun %></p>
    <p>The sunset time in mars is: <%= marsSet %></p>
</div>


<%- include("partials/footer") %>